# IDEA files
*.iml
*.ipr
*.iws

# Build files
.gradle/*
gradle/*
gradlew
gradlew.bat
build/*
droid/build/*
apc/build/*
out/*
*.jar

# Android SDK properties
local.properties

# Log files
*.log

# Dumps and help files
*.txt
